.about-header {
    font-size: 2rem;
    text-align: center;
    padding-top: 10px;
}

.header-img {
    border-radius: 5px;
    width: 100%;
    height: 35%;
}

.about-content {
    display: flex;
    flex-flow: wrap;
}
.about-para {
    .about-pages;
    h2 {
        padding-top: 5px;
    }
    .para-img {
        width: 48%;
        height: 200px;
        padding: 10px;
    }
    p {
        font-size: 1.2rem;
        padding: 5px;
    }
}

footer {
    display: flex;
    justify-content: center;
    h2 {
        border-radius: 5px;
        width: 17%;
        background-color: #20B2AA;
        text-align: center;
    }
}
