.landing-page-content {
    h2 {
        text-align: center;
    }
    .main-content {
        display: flex;
        justify-content: space-evenly;
        flex-flow: wrap;
        text-align: center;
        section {
            width: 30%;
            @media @tablet {
                width: 48%;
            }
        }
        .extra-space {
            padding-bottom: 50px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
        .home-content-img {
            @media @tablet {
                display: none;
            }
        }
    }
    .home-mini-header{
        text-align: center;
        .home-h3;
    }        
}

.index-categories {
    display: flex;
    .top-row {
        .categories
        
    }
    .middle-row {
        .categories;
        
    }
    .bottom-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 48%;
        text-align: center;
        img {
            width: 90%;
            height: 40%;
            border-radius: 5px;
            padding-bottom: 5px;
        }
    }
}
